<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <section class="chat-area">
            <header>
                <a href="#" class="back-icon">
                    <i class='bx bx-chevron-left'></i>
                </a>
                <img src="816.png" alt="">
                <div class="details">
                    <div class="username">Dang Van Viet</div>
                    <span class="status">Active now</span>                  
                </div>
            </header>
            <div class="chat-box">
                <div class="chat outgoing">
                    <div class="text">
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

                <div class="chat incoming">
                    <img src="816.png" alt="">
                    <div class="text">
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

                <div class="chat incoming">
                    <img src="816.png" alt="">
                    <div class="text">
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

                <div class="chat outgoing">
                    <div class="text">
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

                <div class="chat incoming">
                    <img src="816.png" alt="">
                    <div class="text">
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem ipsum dolor sit amet, consectetur adipisicing elit. lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        </p>
                    </div>
                </div>
            </div>
            <form action="#" method="post" class="typing-area">
                <input type="text" placeholder="Type a message here...">
                <button>
                    <i class='bx bxs-send'></i>
                </button>
            </form>
        </section>

    </div>
</body>
</html>