<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
            <header>
                <img src="816.png" alt="">
                <div class="details">
                    <div class="username">Dang Van Viet</div>
                    <span class="status">Active now</span>
                </div>
        
                <a href="#" class="logout">Logout</a>
            </header>
    
            <div class="search">
                <!-- <label for="search-txt">Search</label> -->
                <input type="text" placeholder="Enter user name" class="search-txt" name="search-txt">
                <i class='bx bx-search btn'></i>
            </div>
    
            <div class="user-list">
                <a href="#">
                    <div class="user">
                        <img src="816.png" alt="">
                        <div class="details">
                            <div class="username">Dang Van Viet</div>
                            <span class="message">This is a messsage</span>
                        </div>
                        <div class="status-dot">
                            <i class='bx bxs-circle'></i>
                        </div>
                    </div>
                </a>
    
                <a href="#">
                    <div class="user">
                        <img src="816.png" alt="">
                        <div class="details">
                            <div class="username">Dang Van Viet</div>
                            <span class="message">This is a messsage</span>
                        </div>
                        <div class="status-dot">
                            <i class='bx bxs-circle'></i>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="user">
                        <img src="816.png" alt="">
                        <div class="details">
                            <div class="username">Dang Van Viet</div>
                            <span class="message">This is a messsage</span>
                        </div>
                        <div class="status-dot">
                            <i class='bx bxs-circle'></i>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="user">
                        <img src="816.png" alt="">
                        <div class="details">
                            <div class="username">Dang Van Viet</div>
                            <span class="message">This is a messsage</span>
                        </div>
                        <div class="status-dot">
                            <i class='bx bxs-circle'></i>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="user">
                        <img src="816.png" alt="">
                        <div class="details">
                            <div class="username">Dang Van Viet</div>
                            <span class="message">This is a messsage</span>
                        </div>
                        <div class="status-dot">
                            <i class='bx bxs-circle'></i>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="user">
                        <img src="816.png" alt="">
                        <div class="details">
                            <div class="username">Dang Van Viet</div>
                            <span class="message">This is a messsage</span>
                        </div>
                        <div class="status-dot">
                            <i class='bx bxs-circle'></i>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="user">
                        <img src="816.png" alt="">
                        <div class="details">
                            <div class="username">Dang Van Viet</div>
                            <span class="message">This is a messsage</span>
                        </div>
                        <div class="status-dot">
                            <i class='bx bxs-circle'></i>
                        </div>
                    </div>
                </a>

            </div>           
  
    </div>
</body>
</html>